/node_modules
/public/hot
/public/cabinet
/public/storage
/public/assets/*
/resources/assets/frontend/fonts/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
composer.lock
.env
settings.json
package-lock.json
yarn.lock
yarn-error.log